.pic-size {
	height: 320px;
}
.profile-pic {
	border: solid;
	border-style: outset;
}
.projectAlign {
	text-align: center;
}
.aboutDesc {
	text-align: left;
	font-size: 20px;
}
.tech-details {
	align-items: left;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
	text-align: center;
	background-color: #F4F5F4;
}